name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 2'

## We specify a concurrency group with automated cancellation. This means that
## other pushes on the same `github.ref` (eg. other pushes to the same pull
## request) cancel previous occurrences of the CI.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-and-test:
    name: install-and-test

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos

    runs-on: ${{ matrix.os }}-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      ## Set up OCaml, pin Topiay and install its system dependencies.

      - name: Set-up OCaml 4.14
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 4.14.x
          opam-pin: true     ## this is the default; set here explicitly
          opam-depext: true  ## this is the default; set here explicitly

      - name: Install Topiary
        id: install-topiary
        run: |
          ## Install Topiary then report where it is and in which version.
          echo '::group::Install Topiary'
          opam install topiary
          echo '::endgroup::'
          echo '::group::Where is Topiary and in which version?'
          printf 'Topiary is: '
          opam exec -- sh -c 'command -v topiary'
          printf 'in version: '
          opam exec -- sh -c 'topiary --version'
          echo '::endgroup::'

      - name: Run a smoke test
        run: |
          ## Run a tiny smoke test; checking that Topiary manages to start,
          ## parse a simple OCaml command and output the right thing.
          echo 'open Foo' > expected.ml
          echo 'open  Foo'                                                     \
              | opam exec -- topiary format --language ocaml                   \
              > result.ml
          diff expected.ml result.ml

      - name: Run proper tests
        run: |
          ## Test on OCaml implementation files (.ml)
          cat topiary/topiary-cli/tests/samples/input/ocaml.ml                 \
              | opam exec -- topiary format --language ocaml                   \
              > ocaml.ml
          diff topiary/topiary-cli/tests/samples/expected/ocaml.ml ocaml.ml
          ## Test on OCaml interface files (.mli)
          cat topiary/topiary-cli/tests/samples/input/ocaml-interface.mli      \
              | opam exec -- topiary format --language ocaml_interface         \
              > ocaml-interface.mli
          diff \
              topiary/topiary-cli/tests/samples/expected/ocaml-interface.mli   \
              ocaml-interface.mli

  flake-checks:
    name: flake-checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code.
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run flake checks
        run: nix flake check --print-build-logs
